<footer class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="<%= pages_title_path %>">Pace 360<sup>o</sup></a>
    </div>
    <div>
      <ul class="nav navbar-nav">
        <li><a href="<%= pages_home_path %>">Home</a></li>
        <li><a href="<%= pages_help_path %>">Help</a></li>
        <li><a href="<%= pages_about_path %>">About</a></li>
        <li><a href="<%= pages_contact_us_path %>">Contact</a></li> 
      </ul>
    </div>
  </div>
</footer>